 .hotelContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
 }

 .hotelWrapper {
     width: 100%;
     max-width: 1024px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     position: relative;
 }

 .hotelBookNowButton {
     position: absolute;
     top: 10px;
     right: 0;
     border: none;
     color: #fff;
     font-weight: 600;
     background-color: #ff8370;
     padding: 8px 20px;
     border-radius: 20px;
     cursor: pointer;
 }

 .hotelTitle {
     font-size: 24px;
 }

 .hotelAddress {
     font-size: 12px;
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .hotelDistance {
     color: #878787;
     font-weight: 500;
 }

 .hotelPriceHighLight {
     color: #3AA3A0;
     font-weight: 500;
 }

 .hotelImages {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     position: relative;

 }

 .hotelImgWrapper {
     width: 33%;
 }

 .hotelImg {
     width: 100%;
     border-radius: 20px;
     object-fit: cover;
 }

 .hotelDetails {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     margin-top: 20px;
 }

 .hotelDetailsTexts {
     flex: 3;
 }

 .hotelDescription {
     font-size: 14px;
     margin-top: 20px;
 }

 .hotelDetailsPrice {
     display: flex;
     flex-direction: column;
     flex: 1;
     background-color: #8AE2E0;
     padding: 20px;
     gap: 20px;
     border-radius: 20px;
 }

 .hotelDetailsPrice>h1 {
     font-size: 18px;
     color: #ff8370;
 }

 .hotelDetailsPrice>span {
     font-size: 14px;
 }

 .hotelDetailsPrice>h2 {
     font-size: 14px;
 }

 .hotelDetailsPrice>button {
     font-size: 16px;
     font-weight: bold;
     border: none;
     border-radius: 20px;
     padding: 8px 20px;
     border: 1px solid #ff8370;
     background-color: #fff;
     color: #ff8370;
     cursor: pointer;
 }

 /*Slider Images*/

 .sliderWrapper {
     display: flex;
     position: fixed;
     align-items: center;
     top: 0px;
     left: 0;
     background-color: #87878725;
     width: 100vw;
     height: 100vh;
     z-index: 999;
 }

 .sliderImages {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sliderImage {
     width: 80%;
     height: 80vh;
     border-radius: 20px;
 }

 .sliderClose {
     position: absolute;
     top: 20px;
     right: 20px;
     font-size: 30px;
     color: #ff8370;
     cursor: pointer;
 }

 .sliderArrow {
     margin: 20px;
     font-size: 50px;
     color: #ff8370;
     cursor: pointer;
 }