.header {
    background-color: #00B1B0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #FF8370;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}


.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.headerListItem.active {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.headerDescription {
    margin: 20px 0px;
}

.headerButton {
    background-color: #FF8370;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

.headerSearch {
    display: flex;
    height: 30px;
    background-color: #fff;
    border: 1px solid #FF8370;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 20px;
    bottom: -25px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;

}

.headerSearchInput::placeholder {
    color: #b0b0b0;
    font-size: 14px;
}

.headerSearchIcon {
    color: #FF8370;
    margin: 5px;
}

.headerSearchText {
    color: #b0b0b0;
    cursor: pointer;
    font-size: 14px;

}

.headerSearchButton {
    background-color: #FF8370;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

/* Calendar Range START */
.headerCalendarDateRange {
    position: absolute;
    top: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    -moz-box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    z-index: 2;
}


.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
    background-color: #FF8370 !important;
}

.rdrDayToday .rdrDayNumber span::after {
    background: #FF8370 !important;
    border-bottom: 1px solid #ffffff !important;
}

.rdrCalendarWrapper.rdrDateRangeWrapper.calendarDateRange {
    background-color: #fff !important;
    border-radius: 20px !important;
}

.rdrDayDisabled  {
    background-color: #fff!important;
}

.rdrDateDisplayWrapper {
    background-color: #ff837035 !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;

}

.rdrNextPrevButton,
.rdrPprevButton {
    background-color: #ff837035 !important;
    border-radius: 20px !important;
}

.rdrNextPrevButton:hover,
.rdrPprevButton:hover {
    background-color: #EED6D1 !important;
}



.rdrMonthAndYearPickers {
    background-color: #FF837035 !important;
    border-radius: 20px !important;
}

.rdrWeekDays {
    background-color: #FF837035 !important;
    border-radius: 20px !important;
}

.rdrWeekDay {
    color: #878787 !important;
    font-weight: 600 !important;
}

.rdrMonthsVertical {
    align-items: center;
}

.rdrDateInput,
.rdrDateDisplayItem,
.rdrDateDisplayItem:Active {
    border-color: #FF8370 !important;
    border-radius: 20px !important;

}


.rdrDayStartPreview,
.rdrDayEndPreview,
.rdrDayInPreview {
    border-color: #FF8370 !important;
}

.rdrDayNumber {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.rdrDayPassive>.rdrDayNumber>span {
    color: #878787 !important;
    font-weight: normal !important;
}

/*Calendar range END*/

/* Option Counter button*/
.options {
    border-radius: 20px;
    position: absolute;
    top: 50px;
    background-color: #FFFFFF;
    color: #878787;

    -webkit-box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    -moz-box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    box-shadow: 0px 0px 10px -2px rgba(255, 131, 112, 0.5);
    z-index: 2;
}

.optionItem {
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin: 10px;
}

.optionText {
    background-color: #ff837035;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 20px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #878787;
}

.optionCounterButton {
    width: 30px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #FF8370;
    color: #FF8370;
    background-color: #fff;
    cursor: pointer;
}

.optionCounterButton:hover {
    background-color: #FF8370;
    color: #fff;
}
.optionCounterButton:disabled {
    cursor: not-allowed;
    background-color: #fff !important;
   
}

.optionCounterNumber {
    color: #000;
}
