.mailList {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background-color: #00B1B0;
    border-top: 1px solid #ff8370;
    border-bottom: 1px solid #ff8370;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.mailListInputContainer {
    padding-bottom: 20px;
}
.mailListInputContainer>input {
    width: 250px;
    height: 20px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.mailListInputContainer>button {
    background-color: #ff8370;
    border-radius: 20px;
    padding: 8px 18px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    height: 40px;
}